@charset "utf-8";
@import "reset";

@font-face {
	font-family: "vogue";
	src: url("../font/Vogue.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
//font: 900 60px/1.3 "Noto Sans KR";

#hedaer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 160px;
	box-sizing: border-box;
	z-index: 9;

	.inner {
		width: 1500px;
		margin: 0px auto;
		height: 100%;
		box-sizing: border-box;
		position: relative;
	}

	.logo {
		line-height: 160px;
		font-family: "vogue";
		font-weight: normal;
		font-size: 55px;
		position: relative;
		&::after {
			content: "";
			display: block;
			width: 1200px;
			height: 1px;
			background-color: black;
			position: absolute;
			top: 50%;
			left: 210px;
			margin-top: -4px;
		}
	}

	.menu_btn {
		font-family: "Noto Sans KR", sans-serif;
		position: absolute;
		top: 50%;
		right: 0px;
		margin-top: -13px;
		color: #000;
		font-size: 16px;
		line-height: 1;
		font-weight: 500;
		letter-spacing: -0.5px;
	}
}

#main {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	.main_left {
		width: 90%;
		height: 100%;
		box-sizing: border-box;
		float: left;

		.mian_slide {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: relative;
			overflow: hidden;
			.swiper-button-prev {
				top: auto;
				left: auto;
				bottom: 500px;
				right: 100px;
				i {
					font-size: 40px;
					font-weight: 700;
					color: #111;
					line-height: 1;
				}
				&::after{
					content: "";
				}	
			}
			.swiper-button-next{
				top: auto;
				left: auto;
				bottom: 400px;
				right: 100px;
				i {
					font-size: 40px;
					font-weight: 700;
					color: #111;
					line-height: 1;
				}
				&::after{
					content: "";
				}
			}
			.scrollicon {
				position: absolute;
				bottom: 150px;
				right: 100px;
				i {
					font-size: 25px;
					font-weight: 700;
					color: #222;
					line-height: 1;
					animation : scrolliconani 1s linear 1s infinite alternate;
				}
				&::After{
					content: "";
					display: block;
					width: 1px;
					height: 200px;
					background-color: #888;
					position: absolute;
					bottom: -220px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.swiper-wrapper {
				width: 100%;
				height: 100%;
				.swiper-slide {
					width: 100%;
					height: 100%;
					overflow: hidden;
					&.swiper-slide-active {
						.main_txt p {
							opacity: 1;
                            right: -210px;
						}
					}
					.main_txt {
						width: 22%;
						height: 100%;
						float: left;
						box-sizing: border-box;
						position: relative;
                        z-index: 0;
						p {
							span {
								display: block;
								font: 500 20px/1 "Noto Sans KR";
								letter-spacing: -0.5px;
								margin-bottom: 10px;
								color: #333;
							}
							transition: all 1s;

							bottom: 0;
							width: 675px;
							font: 900 60px/1.3 "Noto Sans KR";
							letter-spacing: -2px;
							position: absolute;
							right: -440px;
							transform: rotate(-90deg) translateX(36%);
							color: #111;
						}
					}
					.img_box {
                        position: relative;
                        z-index: 2;
						float: left;
						width: 63%;
						height: 100%;
						&.ms1 {
							background: url(../img/main1.jpg) center center;
							background-repeat: no-repeat;
							background-size: cover;
						}
						&.ms2 {
							background: url(../img/main2.jpg) center top;
							background-repeat: no-repeat;
							background-size: cover;
						}
						&.ms3 {
							background: url(../img/main3.jpg) center top;
							background-repeat: no-repeat;
							background-size: cover;
						}
						&.ms4 {
							background: url(../img/main4.jpg) center top;
							background-repeat: no-repeat;
							background-size: cover;
						}
					}
                    
				}
			}
			

		}
	}
	.main_right {
		width: 10%;
		height: 100%;
		box-sizing: border-box;
		float: right;
		position: relative;
		ul{
			position: absolute;
			bottom: 250px;
			left: 40%;
			transform: translateX(-50%);
			li{
				margin-bottom: 30px;
				a{
					color: #111;
					font-size: 25px;
					line-height: 1;
				}
				&.followus{
					transform: rotate(-90deg) translate(-30px,-25px) ;
					a {
						font: 500 16px/1 "Noto Sans KR";
					}
				}
			}
		}
		.search {
			position: absolute;
			bottom: 100px;
			left: 30%;
			transform: translateX(-50%);
			color: #111;
			font-size: 20px;
		}
	}
}

@keyframes scrolliconani {

	0% { padding-bottom: 0px; }

	100%  { padding-bottom: 10px; }

}